.app-guide {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  background: rgba(18,18,54,.9);
  transform: translateX(-3000px);
  transition: 2s all;
  -webkit-animation: showappguide 2s linear forwards;
  animation: showappguide 2s linear forwards;
}
.app-guide-hide{
  -webkit-animation: hideappguide 2s linear forwards;
  animation: hideappguide 2s linear forwards;
  transform: translateX(-3000px) !important;
}
.app-guide .app-guide-content {
  position: relative;
  height: 100%;
  padding-top: 31px;
  box-sizing: border-box;
  min-width: 1163px;
}
img{
  vertical-align: top;
}
.app-guide .app-guide-content .guide-ac {
  position: absolute;
  bottom: 0;
  left: -70px;
  width: 330px;
  height: 150px;
}
.app-guide .app-guide-content .guide-text {
  width: 867px;
  height: 38px;
  margin-left: 260px;
}
.app-guide .app-guide-content .guide-qrcode{
  position: absolute;
  top: 5px;
  right: 160px;
  width: 80px;
  height: 80px;
  border: 5px solid #fff;
}
.app-guide .app-guide-content .guide-close{
  position: absolute;
  right: 0;
  top: 7px;
  opacity: .4;
  width: 27px;
  height: 27px;
  background: url("../../assets/img/AppGuide/appclose.png") no-repeat;
  background-size: 100%;
  cursor: pointer;
}