
#pagelet-banner {
  width: 100%;
  height: 180px;
  visibility: visible;
  position: absolute;
  top: 46px;
  left: 0;
}

.page-top-banner {
  position: relative;
  height: 180px;
  background-color: #fff;
}

.page-top-banner .banner-pic {
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 180px;
  background: no-repeat top;
  background-size: auto 100%;
}

.page-top-banner .banner-pic {
  /*background-image: url("../img/IndexBanner/banner_pic.png");*/
}
.page-top-banner .banner-pendant {
  /*background-image: url("../img/IndexBanner/banner_pendant.png");*/
}

.page-top-banner .banner-pendant {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  z-index: 2;
  width: 222px;
  height: 180px;
  background: no-repeat;
}



.login-a{
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 250px;
  z-index: 999;
}
.login-a:hover{
  color: #FD4C5D;
}

